.section_one_opacity {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#section_one {
  width: 100%;
  height: 800px;
  position: relative;
  background-image: url("../img/section_one.jpg");
  background-size: cover;
}

.one_header_box {
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  padding: 2rem 5rem 0rem 5rem;
}

.one_header {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(248, 21, 21);
  z-index: 100;
}

.one_header > a {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(248, 21, 21);
  z-index: 100;
}

.one_header_login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: lighter;
  color: #fff;
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  background: rgb(248, 21, 21);
  padding: 1rem;
}

.one_content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 375px);
  z-index: 100;
}

.one_content {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}

.one_content:first-child {
  line-height: 8rem;
  font-size: 6rem;
  font-weight: bold;
  width: 56rem;
}

.one_content:nth-child(2) {
  width: 75rem;
}

.one_content:last-child {
  font-size: 1.6rem;
}

.one_content_input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.one_content input {
  border: none;
  width: 45rem;
  height: 6rem;
  padding-left: 2rem;
}

.one_content_sale {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  width: 15rem;
  height: 6rem;
  background: red;
  padding: 10px;
}

/*SECTION TWO three four START*/

#section_two,
#section_three,
#section_four {
  background: #000000;
  color: #fff;
  width: 100%;
  height: 50rem;
  border-top: 0.8rem solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.two_content_box,
.three_content_box,
.four_content_box {
  display: flex;
  justify-content: space-between;
}

.two_content,
.three_content,
.four_content {
  width: 50%;
  display: flex;
  align-items: center;
}

.two_content_text,
.three_content_text,
.four_content_text {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.two_content_text:last-child,
.three_content_text:last-child,
.four_content_text:last-child {
  font-size: 3rem;
}

.two_content_img,
.three_content_img,
.four_content_img {
  width: 70%;
  height: 70%;
  text-align: center;
}

.two_content_img img,
.three_content_img img,
.four_content_img img {
  max-width: 100%;
  max-height: 100%;
}
